# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Secrets
.env*
notification.env
*.jks
*.keystore
keystore.txt
*.pem
*.key
assets/ssh/
/android/key.properties

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release
android/build/

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json

*.p12
key.properties
android/key.properties
android/
ios/