name: Build & Deploy to Play Store

on:
  push:
    branches: [saravanan]
    tags:
      - '*'

jobs:
  build:
    name: Build & Release AAB (oroProduction)
    runs-on: macos-latest
    environment: ORO IntelliIrrigate Deployment
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.27.3
          architecture: x64

      - name: Install dependencies
        run: flutter pub get

      - name: Clear Flutter cache
        run: flutter clean

      - name: Install jq
        run: brew install jq

      - name: Verify secrets existence
        run: |
          echo "Checking if secrets are set..."
          [ -n "${{ secrets.KEYSTORE_BASE64 }}" ] || { echo "KEYSTORE_BASE64 is not set"; exit 1; }
          [ -n "${{ secrets.KEYSTORE_PASSWORD }}" ] || { echo "KEYSTORE_PASSWORD is not set"; exit 1; }
          [ -n "${{ secrets.KEY_PASSWORD }}" ] || { echo "KEY_PASSWORD is not set"; exit 1; }
          [ -n "${{ secrets.KEY_ALIAS }}" ] || { echo "KEY_ALIAS is not set"; exit 1; }
#          [ -n "${{ secrets.GOOGLE_PLAY_JSON }}" ] || { echo "GOOGLE_PLAY_JSON is not set"; exit 1; }
          echo "All secrets are set."

      - name: Debug GOOGLE_PLAY_JSON
        run: |
          echo "Length of GOOGLE_PLAY_JSON: ${#GOOGLE_PLAY_JSON}"
          echo "First 50 characters of GOOGLE_PLAY_JSON: ${GOOGLE_PLAY_JSON:0:50}"
          echo "Checking if GOOGLE_PLAY_JSON is valid JSON..."
          echo "${{ secrets.GOOGLE_PLAY_JSON }}" | jq .