name: Build & Deploy to Play Store

on:
  push:
    branches: [saravanan]
    tags:
      - '*'

jobs:
  build:
    name: Build & Release AAB (oroProduction)
    runs-on: macos-latest
    environment: ORO IntelliIrrigate Deployment
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.27.3
          architecture: x64

      - name: Install dependencies
        run: flutter pub get

      - name: Clear Flutter cache
        run: flutter clean

      - name: Install jq
        run: brew install jq

      - name: Debug GOOGLE_PLAY_JSON
        run: |
          echo "Length of GOOGLE_PLAY_JSON: ${#GOOGLE_PLAY_JSON}"
          echo "First 50 characters of GOOGLE_PLAY_JSON: ${GOOGLE_PLAY_JSON:0:50}"
          echo "Checking if GOOGLE_PLAY_JSON is valid JSON..."
          echo "${{ secrets.GOOGLE_PLAY_JSON }}" | jq .